<div class="branding">
  <img src="../../../../assets/flame.png" />
  <span>Waxler Budget</span>
</div>
<ul class="sidenav-list">
  <li matRipple class="list-item">
    <a routerLink="/">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a routerLink="/NewRecord">
      <mat-icon>subject</mat-icon>
      <span>New Record</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a routerLink="/Institutions">
      <mat-icon>account_balance</mat-icon>
      <span>Institutions</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a routerLink="/Accounts">
      <mat-icon>account_balance</mat-icon>
      <span>Accounts</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a>
      <mat-icon>attach_money</mat-icon>
      <span>Income</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a>
      <mat-icon>money_off</mat-icon>
      <span>Expenses</span>
    </a>
  </li>
  <li matRipple class="list-item">
    <a>
      <mat-icon>whatshot</mat-icon>
      <span>FIRE Goals</span>
    </a>
  </li>
</ul>
