.page-title {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.row {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;

  .left-column {
    flex-basis: 25%;
    padding-right: 20px;
  }

  .right-column {
    width: 100%;
    .chart-card {
      height: 500px;
    }
  }
  .item {
    padding-bottom: 20px;
  }
}
